body {
  background-color: black;
  padding-top: 70px;
}

/*
nav {
  background-color: white;
  position:fixed;
  top:0px;
  width:100%;

}

nav li {
  float:left;
  margin-left:10px;
  padding:10px;
}

nav li a {
  text-decoration:none;
  color:black;
}

aside {
  width:290px;
  background-color:white;
  border-radius:10px;
}

#userdash {
  height:200px;
  position: relative;
  margin-top: 50px;
}

#trends {
  height:250px;
  margin-top: 15px;
}

#whotofollow {
  margin-top: 15px;
}*/