body {
  background-color: black;
  padding-top: 70px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

nav {
  background-color: white;
  position:fixed;
  top:0px;
  width:100%;
  font-size: 13px;
  font-weight: 500;
  height:50px;
}

a {
  color: #2A96BD
}

h3 {
  color: #66757f;
}

nav li {
  float:left;
  margin-left:20px;
  padding:10px;
  border-bottom: 7px solid white;
}

nav li:hover {
  border-bottom: 7px solid #2A96BD;
}

nav li a {
  text-decoration:none;
  color: #66757f;
  display:block;
  margin-top:10px;
}

aside {
  width: 230px;
  
  border-radius:10px;
  margin-left: 10px;
}

input {
  padding: 5px 27px 6px 12px;
  height: 20px;
  font-size: 12px;
  background-color: #f5f8fa;
  border: 1px solid #e1e8ed;
  border-radius: 21px;
  float:right;
  margin-top:9px;
}

aside #container {
  float: left;
  width: 290px;
  display: block;
}

aside #userdash {
  border: 1px solid #e1e8ed;
  background: #FFF;
  border-radius: 6px;
  display: block;
}


#userdash a {
  background-color: #2A96BD !important;
  height: 200px;
  padding: 15px;
  background-image: url(https://pbs.twimg.com/profile_banners/89914516/1407695204/600x200);
  background-size: 100%;
  border-bottom: 1px solid #e1e8ed;
  height: 95px;
  border-radius: 4px 4px 0 0;
  background-position: 0 50%;
  width: 100%;
  padding: 0 1px;
  margin-left: -1px;
  margin-top: -1px;
  display: block!important;
  background: transparent;
}

#trends {
  height:250px;
  margin-top: 15px;
  padding: 15px;
  background-color:white;
}

#trends li {
  padding-top: 4px;
}

#whotofollow {
  margin-top: 15px;
}